$color-primary: #2699F4;
$gray:#cccccc;
$body-bg:#EBEEF5;
$icon-font:#9F9F9F;
$white:#ffffff;
$light-grey:#E0E0E0;
$form-hint:#A0A0A0;
$sucess:#40BD6F;
$warning:#FF4948;
$light-blue:#E9EDF6;
$icon-orange:#FFBB5A;
$icon-blue:#6DA6F5;
$icon-green:#4ACE82;
$icon-purple:#9497ee;
$logo:#2EA881;
$sidebar-bg:#37383C;

$sidebar-width: 220px;
$min-sidebar-width: 56px;
$top-height: 60px;

$resXXL: 1280px;
$resXL: 1170px;
$resL: 991px;
$resM: 768px;
$resS: 660px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;
