/* -------common-----  */

.f-cb {
    clear: both;
}

.u-btn-four {
    width: 102.7px;
    height: 33.6px;
    border-radius: 6px;
}

.u-btn-two {
    width: 96px;
    height: 33.6px;
    border-radius: 6px;
}

.btn-color {
    background-color: #2196f3;
}

.btn-color:hover {
    background-color: rgba(33, 150, 243, 0.8);
}

.btn-color:active {
    background-color: #2196f3;
}

.font-fam {
    font-family: MicrosoftYaHei;
}

.f-fw-norm {
    font-weight: normal;
}

.f-fw-bold {
    font-weight: bold;
}

.f-tac {
    text-align: center;
}

.f-tal {
    text-align: left
}

.f-fs-14 {
    font-size: 14px;
}

.f-fs-16 {
    font-size: 16px;
}

.f-fs-20 {
    font-size: 20px;
}

.f-fs-18 {
    font-size: 18px;
}

.f-fs-24 {
    font-size: 24px;
}

.s-bgc-red {
    color: #fa5050;
}

.cursorp {
    cursor: pointer;
}

.g-paddingt-20 {
    padding-top: 20px;
}

.g-paddingb-20 {
    padding-bottom: 20px;
}

.g-paddingr-2 {
    padding-right: 2px;
}

.g-paddingr-12 {
    padding-right: 12px;
}

.g-paddingr-37 {
    padding-right: 37px;
}

.g-paddingl-24 {
    padding-left: 24px;
}

.g-paddingl-26 {
    padding-left: 26px;
}

.g-paddingt-14 {
    padding-top: 14px;
}

.g-paddingt-15 {
    padding-top: 15px;
}

.g-padding-0i {
    padding: 0px 0px!important;
}

.g-padding-20 {
    padding: 20px;
}

ol, ul, li {
    list-style: none;
}
